

*{
  margin: 0;
  padding: 0;
  
}
/* Div = Slogan + Photo  Hassan*/
.container {
  position: relative;
  text-align: center;
  color: white;
}


.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.centered :hover {
    
    color: red;
  }


  .presentation {
  column-count: 2;
  column-gap: 40px;
  column-rule: 3px solid yellow;
  width: 100%;
  margin: 20px 20px;
  
  }

  .presentation img{
    width: 500px;
    height: 500px
  }
  .presentation h3{
    
    color:black;
    font-size: 50PX;
    text-align: center;
    font-style: bold;
    
    
  }


  .presentation h3:hover{
    
    color:red;
    font-style: bold;

  }
  .presentation p {
    
    text-align: left;
    background-color:#BCD8C1;
    font-size: 24px;
    margin-right: 40px;
    border-radius: 10px;

  }

  .presentation h4 {
    
    text-align: center;
    font-size: 25px;

  }
  .presentation h4:hover {
    
    text-align: center;
    font-size: 25px;
    color: red;

  }

  .simplon3 {
    
    display: flex;
    margin-left: 40px;
    border: 2px solid #BCD8C1; 
  
   
    
    }

    .titre h1 {
       display: flex;
       font-size: 50px;
       font-style: bold;
       padding: 20px;
       background-color:#BCD8C1;
       
    }
    .titre h1:hover {
      color: red;
      
   }
   .texte{
     display: flex;
     font-size: 20px;
     border: 1px solid #BCD8C1;
     width: 400px;
     margin-top: 100px;
   }
   .branche h3 {
    display: flex;
    font-size: 50px;
    padding: 20px;
    background-color:#BCD8C1;
 }
 .branche h3:hover {
 color: red;
}

 .branche h5 {
  display: flex;
  font-size: 30px;
  padding: 20px;
  margin-left: 20px;
   
}
.branche h5:hover {
 color: red;
   
}

.branche h5:hover {
  
  color: red;
  
}
 


 

    

   
  
  
   