* {
  margin: 0;
  padding: 0;
  background-color: #BCD8C1;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Div = Slogan + Photo   partie 1 Hassan*/
.container {
  position: relative;
  text-align: center;
  color:black;
  border: 2px solid red;
  margin-top: 20px;
  padding: 10px;
  margin-left: 30px;
  
}


.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  
  
}

.centered :hover {

  color: red;
}

/* partie 2 Hassan*/
.presentation {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid red;


}

.presentation img {
  width: 300px;
  height: 84px
}

.textepre p {
  display: flex;
  color: black;
  font-size: 20PX;
  background-color: #BCD8C1;
  margin-top: 80px;
  margin-left: 40px;

}

.textepre p:hover {
  display: flex;
  color: white;


}

.textepre h4 {

  text-align: center;
  font-size: 15px;

}

.textepre h4:hover {

  text-align: center;
  font-size: 25px;
  color: red;

}

/* partie 3 Hassan*/

.presentationsimplon {

  display: flex;
  margin-left: 40px;
  border: 2px solid red;
  margin-top: 20px;
  padding: 10px;
  margin-left: 30px;
  justify-content: space-between;



}

.titre2 h1 {
  display: flex;
  font-size: 50px;
  font-style: bold;
  padding: 20px;
  background-color: #BCD8C1;

}

.titre2 h1:hover {
  color: red;

}


.texte2 {
  display: flex;
  font-size: 20px;
  width: 500px;
  margin-top: 60px;

}

.texte2:hover {
  color: white;

}



.branche   {
  display: flex;
  font-size: 40px;
  background-color: #BCD8C1;
  flex-direction: column;
}
.branche h3  {
  display: flex;
  font-size: 40px;
  background-color: #BCD8C1;
  flex-direction: column;
}
.branche h3:hover  {
  color: red;
}
.div1 {
  display: flex;
  font-size: 30px;
  padding: 20px;
  margin-right: 60px;
  background-color: yellow;
  margin-top: 20px;
  
}
.div2 {
  display: flex;
  font-size: 30px;
  padding: 20px;
  margin-right: 60px;
  background-color:grey;
  margin-top: 20px;
  
}
.div3 {
  display: flex;
  font-size: 30px;
  padding: 20px;
  margin-right: 60px;
  background-color:green;
  margin-top:20px;
  
}
.div4 {
  display: flex;
  font-size: 30px;
  padding: 20px;
  margin-right: 60px;
  background-color:blueviolet;
  margin-top:20px;
  
}
.div5 {
  display: flex;
  font-size: 30px;
  padding: 20px;
  margin-right: 60px;
  background-color:red;
  margin-top:20px;
  
}