body{
    font-family: Verdana;
    background-color:#BCD8C1;
    padding: 20px;
}

.corps{
    padding-left: 50px;
    padding-right: 50px;
}

/* nav */
:root{
    --hauteur-menu: 60px;
}
  
*{
    padding: 0px;
}

.nav_flex{
    display: flex;
    border-bottom: 3px #000000 solid;
}
img{
    width: 50px;
}
.jsp img{
    width: 200px;
}
hr{
    border: black solid;
}
nav{
    width: 100%;
    position: relative;
    top: 20px;
    z-index: 1;
    margin-bottom: 50px;
}

.nav-home{
    font-size: 2em;
    max-width: 200px;
}
.nav-deroulant{
    font-size: 2em;
    max-width: 410px;
}

.menu-deroulant{
    font-size: 2em;
    max-width: 410px;
}


.nav-hide{
    font-size: 0.5em;
    margin: 15px 0;
    margin-left: 20px;
}

nav > ul{
    display: flex;
    text-align: center;
    height: var(--hauteur-menu);
}
  
nav ul{
    list-style-type: none;
}
  
nav > ul > li{
    background-color: transparent;
    position: relative;
    height: 100%;
    flex: 1;
}
  
nav > ul > li:hover > a{
    color: #fb911f;
}
  
nav > ul > li > a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li{
    text-align: start;
}

li a{
    text-decoration: none;
    color: #000000;
}

.name{
    color: #ffffff;
}
  
.menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 5px;
    display: inline-block;
}
  
.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
}
  
@keyframes rotationFleche{
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(45deg);
    }
    100%{
      transform: rotate(90deg);
    }
}
  
.sous-menu{
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    overflow: hidden;
    max-height: 0;
    border-radius: 2px;
    background-color: #ffffff;
}

.deroulant{
    max-height: 200px;
    overflow: auto;
}
.menu-deroulant:hover > .sous-menu{
    animation: apparitionSousMenu 1s forwards;
}
/*Burger*/

.burger{
    display: none;
}

.burger-image{
    min-width: 100px;
    margin-left: 70px;
}

.burger > a:after{
    font-size: 30px;
    margin-left: 7px;
    display: inline-block;
}

.burger:hover > .sous-menu{
    animation: apparitionSousMenu 1s forwards;
}

.burger-name{
    margin-left: 20px;
}

.nav-burger{
    font-size: 0.8em;
    margin-left: 10px;
    margin-top: 10px;
}

.deroulant-burger{
    max-height: 200px;
    padding: 0 30px;
    overflow: auto;
}

.deroulant-burger > li:hover > a{
    color: blue;
}
/*Fin Burger*/
  
@keyframes apparitionSousMenu{
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 1px solid #ffffff;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 5px solid #ffffff;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
}
/*
.sous-menu > li:hover{
    background-color: #999793;
}
*/
  
.sous-menu > li > a{
    align-items: stretch;
    display: flex;
    height: 50px;
    padding-left: 20px;
    width: 100%;
}
  
.deroulant > li:hover > a{
    color: blue;
}

@media all and (max-width: 800px)
{
    .nav-home{
        margin-left: 45px;
    }
    .nav-deroulant{
        display: none;
        width: 0px;
    }
    .burger{
        display: block;
        margin: 0 50px;
    }
}

/* fin nav */

/* placement form */

*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Partie Haut */


.title{
    padding: 0 15px;
    display: inline-block;
    margin: 15px;
}

/* Partie Centrale */

.con {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 30px 50px;
}

.form__group {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.form__input {
    font-size: 16px;
    font-family: inherit;
    padding: 3px 10px;
    border-radius: 3px;
    border: none;
    border-bottom: 4px solid transparent;
    width: 100%;
    transition: all 0.3s;
}

.form__input:focus {
    border-bottom: 4px solid #a5ee6e;
    width: 66.6666%;
    transition: all 0.5s;
}

.form__input:focus:invalid {
    border-bottom: 4px solid #e94a2f;
}

.form__message,
.form__message .message__input {
    width: 100%;
}

.submitBtn {
    display: block;
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color:#BCD8C1;
    border-radius: 30px;
    margin: 20px auto;
    font-size: 25px;
    font-family: inherit;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: all 0.2s;
}

/* Partie basse*/   

footer{
    display:flex;   
    font-size: 1em;
    opacity: 0.3;
    align-content: center;
    margin-top: 10px;
    padding-top: 20px;
    border-top: 2px rgba(0, 0, 0, 0.5) solid;
}