

*{
  margin: 0;
  padding: 0;
}
/* Div = Slogan + Photo  Hassan*/
.container {
  position: relative;
  text-align: center;
  color: white;
}


.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.centered :hover {
    
    color: yellow;
  }


  .presentation {
  column-count: 2;
  column-gap: 40px;
  column-rule: 5px solid yellow;
  width: 100%;
  margin: 20px 20px;
  
  
 
  
  }

  .presentation img{
    width: 500px;
    height: 500px
  }
  .presentation h3{
    
    color:black;
    font-size: 50PX;
    text-align: center;
    font-style: bold;
    
    
  }


  .presentation h3:hover{
    
    color:yellow;
    font-style: bold;

  }
  .presentation p {
    
    text-align: left;
    background-color: yellow;
    font-size: 24px;
    margin-right: 40px;
    border-radius: 10px;

  }

  .presentation h4 {
    
    text-align: center;
    font-size: 25px;

  }
  .presentation h4:hover {
    
    text-align: center;
    font-size: 25px;
    color: yellow;

  }
 

    

   
  
  
   