/* nav */
:root{
  --hauteur-menu: 60px;
}

*{
  padding: 0px;
}

.nav_flex{
  display: flex;
  border-bottom: 3px #000000 solid;
}
.jsp img{
  width: 200px;
}
hr{
  border: black solid;
}
nav{
  width: 100%;
  position: relative;
  top: 20px;
  z-index: 1;
  margin-bottom: 50px;
}

.nav-home{
  font-size: 2em;
  max-width: 200px;
}
.nav-deroulant{
  font-size: 2em;
  max-width: 410px;
}

.menu-deroulant{
  font-size: 2em;
  max-width: 410px;
}


.nav-hide{
  font-size: 0.5em;
  margin: 15px 0;
  margin-left: 20px;
}

nav > ul{
  display: flex;
  text-align: center;
  height: var(--hauteur-menu);
}

nav ul{
  list-style-type: none;
}

nav > ul > li{
  background-color: transparent;
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li:hover > a{
  color: #fb911f;
}

nav > ul > li > a{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li{
  text-align: start;
}

li a{
  text-decoration: none;
  color: #000000;
}

.name{
  color: #ffffff;
}

.menu-deroulant > a:after{
  content: 'â¯';
  font-size: 15px;
  margin-left: 5px;
  display: inline-block;
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes rotationFleche{
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.sous-menu{
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  border-radius: 2px;
  background-color: #ffffff;
}

.deroulant{
  max-height: 200px;
  overflow: auto;
}
.menu-deroulant:hover > .sous-menu{
  animation: apparitionSousMenu 1s forwards;
}
/*Burger*/

.burger{
  display: none;
}

.burger-image{
  min-width: 100px;
  margin-left: 70px;
}

.burger > a:after{
  font-size: 30px;
  margin-left: 7px;
  display: inline-block;
}

.burger:hover > .sous-menu{
  animation: apparitionSousMenu 1s forwards;
}

.burger-name{
  margin-left: 20px;
}

.nav-burger{
  font-size: 0.8em;
  margin-left: 10px;
  margin-top: 10px;
}

.deroulant-burger{
  max-height: 200px;
  padding: 0 30px;
  overflow: auto;
}

.deroulant-burger > li:hover > a{
  color: blue;
}
/*Fin Burger*/

@keyframes apparitionSousMenu{
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 1px solid #ffffff;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 5px solid #ffffff;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}
/*
.sous-menu > li:hover{
  background-color: #999793;
}
*/

.sous-menu > li > a{
  align-items: stretch;
  display: flex;
  height: 50px;
  padding-left: 20px;
  width: 100%;
}

.deroulant > li:hover > a{
  color: blue;
}

@media all and (max-width: 800px)
{
  .nav-home{
      margin-left: 45px;
  }
  .nav-deroulant{
      display: none;
      width: 0px;
  }
  .burger{
      display: block;
      margin: 0 50px;
  }
}

/* fin nav */


* {
  margin: 0;
  padding: 0;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #BCD8C1;
  margin: 0;
}

/* Div = Slogan + Photo   partie 1 Hassan*/
.sloganphoto {
  display: flex;
  position: relative;
  text-align: center;
  color:white;
  border: 2px solid red;
  margin-top: 20px;
  padding: 10px;
  margin-left: 30px;
}

.slogan {
  display: flex;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.slogan :hover {
  color: red;
  border-bottom: 3px white solid;
}

/* partie 2 Hassan*/
.presentation {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid red;
}

.presentation img {
  width: 300px;
  height: 84px
}

.textepre p {
  color: black;
  font-size: 20PX;
  background-color: #BCD8C1;
  margin-top: 80px;
  margin-left: 40px;

}

.textepre p:hover {
  color: white;

}

.textepre h4 {
  text-align: center;
  font-size: 15px;

}

.textepre h4:hover {
  text-align: center;
  font-size: 25px;
  color: red;
  border-bottom: 2px white solid;
}

/* partie 3 Hassan*/

.presentationsimplon {
  display: flex;
  border: 2px solid red;
  margin-top: 20px;
  padding: 10px;
  margin-left: 30px;
}

.titre2 h1 {
  font-size: 50px;
  font-style: bold;
  padding: 20px;
  background-color: #BCD8C1;
}

.titre2 h1:hover {
  color: red;
  border-bottom: 2px white solid;
}

.texte2 {
  font-size: 20px;
  width: 500px;
  margin-top: 60px;
}

.texte2:hover {
  color: white;

}

.branche   {
  font-size: 40px;
  background-color: #BCD8C1;
  flex-direction: column;
  margin-top: 60px;
}
.branche h3  {
  font-size: 40px;
  background-color: #BCD8C1;
  
 
}
.branche h3:hover  {
  color: red;
  border-bottom: 2px white solid;
}
.div1 {
  font-size: 30px;
  margin-left: 20px;
  padding: 5px;

}
.div2 {
  font-size: 30px;
  margin-left: 20px;
  padding: 10px;
}
.div3 {
  font-size: 30px;
  margin-left: 20px;
  padding: 5px;
}
.div4 {
  font-size: 30px;
  margin-left: 20px;
  padding: 5px; 
}
.div5 {
  font-size: 30px;
  margin-left: 20px;
  padding: 5px;
  
}


@media only screen and (min-width: 300px) {
  .sloganphoto {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
  }
  }

  @media only screen and (min-width: 300px) {
  .slogan {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
}

@media only screen and (min-width: 300px) {
  .presentation {
      display: grid;
      grid-template-columns: (1, 1fr);
  }
  }
  @media only screen and (min-width:300px) {
    
  .presentationsimplon {
      display:flex;
      grid-template-columns:repeat(1, 1fr);
  }
 
 
}


